<!DOCTYPE html>

<html>
    <head> 
        <title> Knowledge and experience </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/css/header.css">
        <link rel="stylesheet" type="text/css" href="../static/css/experience.css">
        
    </head>

    <body>
        <div class="header">
            <a class="" style="text-decoration: none;">Contact me</a>
            <a class="" href= "about-me.html" style="text-decoration: none;">About me</a>
            <!-- <a class="">Knowledge-experience</a> -->
            <a class="" href="../index.html" style="text-decoration: none;">Home / Index</a>

        </div>

        <div class="list academic">
            <p class="img icon-academic"></p>
            <h3> Academic Formation </h3>
            <ul>
                <li>
                    <h4> I.E.S. Antonio de Nebrija</h4>
                    <p> Science bachillerato </p>
                </li>
                <li>
                    <h4><a href="https://www.uc3m.es/grado/telecomunicacion"><img src="../static/img/icons8-add-link-16.png"></a> Calos III University Madrid</h4>
                    <p> Degree in Telecommunications Technology </p>
                </li>
            </ul>
        </div>

        <div class="list courses"> 
            <p class="img icon-courses"></p>
            <h3> Courses </h3>
            <ul>
                <li> Cloud computing </li>
                <li> Introduction to data governance </li>
                <li> Docker esential </li>
                <li> Kubernetes for administrators </li>
                <li> <a href="https://openwebinars.net/cert/qwpm8"><img src="../static/img/icons8-medal-16.png"></a> Course of advance Power BI</li>
                <li> <a href="https://openwebinars.net/cert/WqXp2"><img src="../static/img/icons8-medal-16.png"></a> Course of technical Scrum </li>
                <li> <a href="https://openwebinars.net/cert/r0MOA"><img src="../static/img/icons8-medal-16.png"></a> Course of modelling data of data with Python and NumPy </li>
                <li> <a href="https://github.com/RiichiAgrr/riichiagrr.github.io/blob/main/static/media/Diploma-richard-aguirre-hungria_51249452R_1.pdf"><img src="../static/img/icons8-medal-16.png"></a> Python advanced-intermediate level </li>
            </ul>
        </div>

        <div class="list skills">
            <p class="img icon-skills"></p>
            <h3> Skills </h3>
            <ul>
                <li> Java </li>
                <li> C </li>
                <li> MATLAB </li>
                <li> Arduino </li>
                <li> HTML/CSS/JavaScript </li>
                <li> Excel, VBA </li>
                <li> PowerBI </li>
                <li> PowerApps </li>
                <li> MySQL, SQL </li>
                <li> PowerShell </li>
                <li> Python </li>
                <li> Linux </li>
            </ul>
        </div>

        <div class="list growing">
            <p class="img icon-growing"></p>
            <h3> <a class="icon-skills"></a> Growing-up </h3>
            <ul>
                <li> <p>Develop web development with django.</p> </li>
                <li> <p>Automatization of process with python.</p> </li>
                <li> <p>Linux, Docker and Kubernetes.</p> </li>
            </ul>
        </div>

        <div class="list recently">
            <p class="img icon-recently"></p>
            <h3> Newly acquired skills </h3>
            <ul>
                <li> <p> ETL, Extract, transformation and load of data with PowerQuery and DAX lenguages that provide Power BI (level advance). </p> </li>
                <li> <p> ETL process with pandas of python. </p> </li>
                <li> <p> Elaborating SQL scripts in mySQL database. </p> </li>
                <li> <p> Learn use Jira software for managment of projects, developments and incidents. </p> </li>
            </ul>
        </div>
        
        <div class="list lenguages">
            <p class="img icon-languages"></p>
            <h3> Languages </h3>
            <ul>
                <li> Spanish
                    <p> <a style="color:yellow">&#9733 &#9733 &#9733 &#9733 &#9733</p> </a>
                </li>
                <li> English 
                    <p> <a style="color:yellow">&#9733 &#9733 &#9733</a> &#9733 &#9733</p>
                </li>
                <li> French 
                    <p> <a style="color:yellow">&#9733</a> &#9733 &#9733 &#9733 &#9733</p>
                </li>
            </ul>
        </div>
    </body>
</html>
